* {
    box-sizing: border-box;
}
html, body {
    margin: 0;
    padding: 0;
}
.navbar, .carousel-acceuil, .message-acceuil {
    display: none;
}

/* Textes */
h1, h2, button {
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
}
h1 {
    font-size: 40px;
    top: -10px;
}
h2 {
    font-size: 30px;
    text-align: center;
    text-decoration: underline;
}
.form-label, .modal-title {
    font-size: 20px;
}
p, .text-contact  {
    font-family: arimo, sans-serif;
    font-size: 12px; 
    text-align: center;
}
.sub-title {
    font-size: 15px;
    text-align: left;
    font-weight: bold;
}
.text-tel {
    font-size: 13px;
    margin-top: 3px;
}
.horaire {
    font-size: 15px;
    text-align: center;
}
a {
    color: black;
    font-weight: bold;
}
.partenaire h2 {
    margin: auto;
    color: #E2B75A;
    font-size: 30px;
}
.links {
    display: flex;
    justify-content: space-between;
    font-size: 20px; 
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    margin-top: 15px;
}

/* Background */
.index {
    background-image: url(../Images/Background\ Mobile.png);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.event {
    background-image: url(../Images/background-2-mobile.png);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.accueil {
    background-image: url('../Images/photoaccueilmobile.jpg');
    background-position: 60% 80%;    
    height: 100vh; 
    background-size: cover;
    background-repeat: no-repeat;
}

/* Images */
.menu img {
    height: 30px; 
}
.scroll img {
    position: fixed;
    top: 92vh;
    margin-left: 38vw;
}
.card-img-top {
    margin: auto;
    border-radius: 10%;
}

/* Composants */
header {
    padding-top: 20px;
    background-color: #04040400;
    color: #E2B75A;
    position: fixed; 
    z-index: 1;
}
.dropdown-menu, .modal {
    background-color: #e2b75adc;
    font-family: 'Amatic SC', cursive;
    text-align: center;
    font-weight: bolder;
    font-size: 20px;
}
.card {
    background-color: #e2b75acb;
    width: 80vw;
    margin: auto;
    position: relative;
    border-radius: 10%;
    margin-bottom: 100px;
}
.contact {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 2px;
}
.responsive-iframe {
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 60%;
    margin: auto;
    border: solid;
    border-radius: 5%;
    text-align: center;
}
footer {
    position: relative;
    background: #E2B75A;
    text-align: center;
    padding: 5px;
}

/* Marges */
.margin-event {
    margin-top: 40px;
}
.card-title {
    margin-top: 15px;
}
.card-contact {
    margin-bottom: 30px;
}
.carousel-inner img {
    margin: auto;
}

/* Bouttons */
.card button {
    margin-left: 20%;
}
button {
    color: black;
    text-align: center;
    background-color: #E2B75A;
    border: none;
    border-radius: 10%;
    font-size: 25px;
}

/* Carousel */
.carousel {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}
.carousel-control-prev  {
    background-color: #e2b75a00;
    background-image: url(../Images/Fleche\ Scroll\ left.png);
    background-repeat: no-repeat;
    background-position: center;
}
.carousel-control-next  {
    background-color: #e2b75a00;
    background-image: url(../Images/Fleche\ Scroll\ right.png);
    background-repeat: no-repeat;
    background-position: center;
}

/* Autres */
.actu {
    padding-top: 80px;
    color: #E2B75A;
}

